@model SistemaAcademia.Models.UsuarioModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>

    <img src="~/img/logo.png" alt="Bootstrap" width="290" height="254"  />
    
</div>

