
@{
    ViewData["Title"] = "Registro de Acadamia";
}
<div class="text-center">
    <h2>Registrar Academia</h2>
    <br />
</div>

<form class="row g-3">
    

    <hr />

    <div class="col-md-3">
        <label for="inputZip" class="form-label">CEP</label>
        <input type="text" class="form-control" >

    </div>

    <div class="col-md-3">
        <label for="inputState" class="form-label">State</label>
        <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
    </div>

    <div class="col-3">
        <label for="inputAddress" class="form-label">Cidade</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-3">
        <label for="inputAddress" class="form-label">Bairro</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-6">
        <label for="inputAddress" class="form-label">Logradouro</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-2">
        <label for="inputAddress" class="form-label">Número</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-4">
        <label for="inputAddress" class="form-label">Complemento</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>

    <div class="col-12">
        <label for="inputAddress" class="form-label">Nome da academia</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>

    <div class="col-4">
        <label for="inputAddress" class="form-label">Login de acesso</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-md-4">
        <label for="inputEmail4" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-4">
        <label for="inputPassword4" class="form-label">Senha</label>
        <input type="password" class="form-control" id="inputPassword4">
    </div>

    <div class="col-12">
    </div>
    <div class="col-12 d-grid gap-2">
        <button type="submit" class="btn btn-primary">Registrar</button>
        <a class="btn btn-secondary">Voltar</a>
    </div>
</form>
<br />